@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px');

.h1-text {
  color: red;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3c250a;
}

p, li {
  font-family: 'Slabo 27px', serif;
  color: #3c250a;
}

.project {
  background-color: grey;
  width: 543px;
}

body {
  background: url('../images/abstract-mosaic-background.png') no-repeat center center fixed;
  background-size: cover;
}

.wrapper { 
  width: 960px;
  margin: 0 auto;
}

header, footer {
  background-color: #595959;
  text-align: center;
  padding: 15px 30px;
}

.main-content {
  background-color: #808f85;
  padding: 10px 0;
  border-top: 2px solid #cfd11a;
}

header img {
  width: 50%;
  border-radius: 15px;
}

.main-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}
.main-content ul li {
  padding: 10px;
  display: inline;
  font-weight: bold;
}

a {
  color: #CFD11A;
  text-decoration: none;
}

.main-content p {
  margin: 10px 40px;
}

.main-content h2 {
  text-align: center;
}

#projects {
  background-color: #808F85;
}

 .clearfix:after {
  content: "";
  display: table;
  clear: both;
} 

.project {
  width: 30%;
  display: inline-block;
  background-color: #f2e9dc;
  margin: 1.66%;
  border-radius: 15px;
  float: left;
}

.project h2 {
  text-align: center;
}

.project img {
  max-width: 100%;
}